html
    include head.pug

    body
        header.header#header
            nav.navbarContentContainer
                div.navbarContentLeft
                    a.jkpgLogo(href="index.html")
                        img(src="/imagesAndIcon/jkpgLogo.png", alt="Jonkoping city logotype")
                div.navbarContentRight
                    a(href="discover.html") Discover
                    div.inputWithIcon
                        img.icon(src="/imagesAndIcon/searchIcon.png", alt="Search")
                        input#searchInput(type="text", placeholder="Search..")
        
        section.storesSectionDiscover
            .headingContentDiscover 
                h1 SEE THE STORES IN <br> JÖNKÖPING CITY
            .sortButtonsContentDiscover
                button.buttonSort#allStoresButton(onclick="filterStoreType('All')") Discover All
                button.buttonSort#getStoresShopping(onclick="filterStoreType('Shopping')") Shopping
                button.buttonSort#getStoresService(onclick="filterStoreType('Service')") Services
                .dropdown
                    button.buttonSort.dropdownLocation#locationDropdown Location 
                        span.arrowIconLocation &#9660;
                    .dropdownContent#storesContainer
                        a#westStores(onclick="filterStoreDistrict('Väster')") Väster
                        a#eastStores(onclick="filterStoreDistrict('Öster')") Öster
                        a#otherStores(onclick="filterStoreDistrict('Other')") Other    
                        a#otherStores(onclick="filterStoreDistrict('All')") All   
        
            .addButtonContentDiscover
                button.buttonAdd#buttonAdd Add Store

            #myModal.modal
                .modal-content
                    span.close &times;
                    form(action="/addStore" method="POST")
                        label(for="store_name") Store name
                        br
                        input(type="text" id="name" name="name")
                        br
                        label(for="store_url") Store url
                        br
                        input(type="text" id="url" name="url")
                        br
                        label(for="district") Store district
                        br
                        input(type="text" id="district" name="district")
                        br
                        label(for="storeType") Store type
                        br
                        input(type="radio" id="shopping" name="storeType" value="Shopping")
                        label(for="shopping") Shopping
                        input(type="radio" id="service" name="storeType" value="Service")
                        label(for="service") Service
                        br
                        br
                        input(type="submit" value="Add store")

            .allStoresBySort#allStoresContainer
        
        include footer.pug

    script(src="frontend.js")