footer 
    .footerContentContainer
        .footerContentLogo
            a.jkpgLogo
                img(src="/imagesAndIcon/jkpgLogo.png", alt="Jonkoping city logotype")
        .footerContentText
            h3 Jönköping City AB
            p.footerP c/o Jönköpings municipality
            p.footerP Rådhusparken 1
            p.footerP 551 89 Jönköping
            p.footerP Phone: 036-16 40 74
            p.footerP Visit us: Rådhuset, first floor
        .footerContentLinks
            ul
                li.footerListItem
                    a.footerLink(href="index.html") Home
                li.footerListItem
                    a.footerLink(href="discover.html") Discover
