/* universal styling */
body {
    margin: 0;
    padding: 0;
}

.header {
  width: 100%;
}

h1,
h2,
h3,
p,
a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  font-size: 0.8rem;
}

h1 {
    font-size: 5rem;
}

/* navbar styling */
.navbarContentContainer {
  height: 20vh;
  background-color: black;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    height: 15vh;
    background-color: rgb(175, 175, 175);
}

.navbarContentLeft, .navbarContentRight {
    display: flex;
    align-items: center; 
}

.navbarContentRight {
  gap: 5vw;
}

.navbarContentRight a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.jkpgLogo img {
  width: 15vw;
  height: auto;
}

.inputWithIcon {
    position: relative; 
    display: flex; 
    align-items: center; 
}

.inputWithIcon .icon {
    position: absolute; 
    left: 10px; 
    height: 20px; 
    width: 20px; 
}

.inputWithIcon input[type="text"] {
  width: 20vw;
  height: 5vh;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: 40px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
/*Main content styling*/

/* info section */
.infoSectionHome {
  height: 80vh;
  background-color: pink;
}

.infoContentHome {
    width: 80vw;
    padding-top: 15vh;
    margin-left: 8vw;
}

.infoContentP {
    width: 30vw;
    margin-top: 3vh;
}

/* discover section */
.discoverSectionHome {
  height: 50vh;
}



.headingContentDiscover {
    margin-left: 8vw;
    padding-top: 15vh;
}




/*Footer styling*/
.footerContentContainer {
  height: 40vh;
  background-color: rgb(175, 175, 175);
  display: flex;
}
.footerContentLogo {
  height: 40vh;
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerContentText {
  height: 40vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerP {
  margin: 0;
}
.footerContentLinks {
  height: 40vh;
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerListItem {
  list-style: none;
}
.footerLink {
  text-decoration: none;
  color: black;
}

